
* {
  font-family: Helvetica;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#header-pic-box {
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  height: 60vh;  
  width: 100vw;

  color: #FFF;
  text-align: center;
  font-size: 40px;
  
}

#introduction-wrapper {
  background-color: red; 
  max-width: 80vw;
  padding: 50px;
}
.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px;
}
.item-box  .item > p {
  max-width: 50vw;
  text-align: justify;
  font-size: 18px;
  margin: auto;
}
.item-box .item > img {
  width: 300px;
}